 * {
 	box-sizing: border-box;
 	text-decoration: none;
 }
 
 body {
 	font-family: 'Roboto', sans-serif;
 	background-image: url(icons/patt.png);
 }

 .container {
 	width: 1170px;
 	margin: auto;

 }
 
 .header {
 	background-color: rgba(255,255,255,0.75);
 	padding: 25px 0;
 }
 
 [class*="col-"] {
 	float: left;
 }
 .col-md-3 {
 	width: 25%;
 }
 .col-md-6 {
 	width: 50%;
 }

.menu li {
	float: left;
	width: 25%;
	border-left: 1px solid #2c71b8;
	position: relative;
}
.menu li:last-child {
	border-right: 1px solid #2c71b8;
}
.row:after  {
	content: "";
	display: block;
	clear: both;
}
.menu a {
	
	display: block;
	height: 50px;
	text-align: center;
	line-height: 50px;
	color: #2c71b8;
	font-weight: 300;
	
}
.menu a:hover {
	background-color: #2c71b8;
	color: white;
}
.submenu {
	display: none;
    position: absolute;
    width: 285px;
    top: 40px;
    left:  -1px; 
}
.submenu li {
    font-size: 15px;
  	position: relative;
  	height: 40px;
	width: 285px;
  	
}
.submenu a{
	 
	padding: 5px;
	color: white;
	display: block;
	
	line-height: 40px;
	text-align: center;
    background-color: #2c71b8;
}
.menu> li:hover >.submenu {
	position: absolute;
 	display: block;
}
.submenu a:hover {
	background-color: white ;
	color: #2c71b8;
	border: 1px solid #2c71b8;
}
.search {
	padding-left: 30px;
	position: relative;
	text-align: center;


}
input[type="search"] {
    border: 1px solid #2c71b8; 
    width: 200px; 
    height: 40px;
    color: #2c71b8;
    background-color: rgba(255,255,255,0);
    margin-right: 5px; 
    
 }
 .iconsearch {
 	background-color: #2c71b8;
 	width: 30px;
 	height: 30px;
 	border: none;
 	position: absolute;
 	top: 9px;
 	left: 195px;

   }
.basket {
	background-color: white;
	width: 40px;
	height: 40px;
	border: none;
	
	
}